{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Pone la pava</title>
</head>
<body>

    <input type="hidden" name="" id="img-not-see-src" value="{% static 'img/not-see.png' %}">
    <input type="hidden" name="" id="img-see-src" value="{% static 'img/see.png' %}">

    <div id="chat-modal" class="chat-modal">
        <div class="room-utils-container">
            <div class="delete-room">
                <button id="button-delete-room">
                    <img class="img-delete-room" src="{% static 'img/delete.png' %}" alt="Eliminar sala">
                </button>
            </div>
            <div class="p-room-name-container">
                <p id="room-name"></p>
            </div>
            <div class="disconnect-button-container">
                <button id="button-close-connection">
                    <img class="img-disconnect" src="{% static 'img/disconnect.png' %}" alt="Salir">
                </button>
            </div>
        </div>
        <div class="room-messages">
            <div class="chat-messages-list" id="chat-messages-list"></div>
        </div>
        <div class="send-message">
            <form id="form-send-message">
                {% csrf_token %} 
                <input type="text" id="message-input" placeholder="Mensaje">
                <button id="button-send" type="submit">
                    <img class="img-send" src="{% static 'img/send.png' %}" alt="Entrar">

                </button>
            </form>
        </div>
    </div>
    <div class="div-errors" id="div-errors">
        <div class="exclamation">
            <p id="p-exclamation">!</p>
        </div>
        <div class="errors">
            <p id="p-errors"></p>
        </div>
    </div>

    <div class="modal-create-room" id="modal-create-room">
        <div class="close-modal">
            <button id="close-modal-create">
                <strong class="generic-strong">X</strong>
            </button>
        </div>
        <form action="" id="form-create-room">
            {% csrf_token %} 
            <div class="container-inputs-modal">
                <input type="text" placeholder="Nombre de la sala" name="room_name" id="input-room-name"
                    class="input-form">
                <label id="label-range-form" for="people-amount">Integrantes</label>
                <input name="people_amount" type="range" id="input-people-amount" class="input-form-range" min="2"
                    max="15">
            </div>

            <div class="container-buttons">
                <div class="create-room">
                    <button id="cancel-create-modal" class="cancel-room-modal">
                        <p>Cancelar</p>
                    </button>
                </div>
                <form action="">
                    {% csrf_token %} 
                    <div class="join-room">
                        <button id="create-room-modal" type="submit" class="button-room">
                            Crear sala
                        </button>
                    </div>
                </form>
            </div>

            <div class="room-code-div">
                <p id="room-code">Envia el siguiente codigo a tus amigos: <strong id="room-code-strong"></strong></p>
            </div>

        </form>
    </div>

    <div class="modal-join-room" id="modal-join-room">
        <div class="close-modal">
            <button id="close-modal-join">
                <strong class="generic-strong">X</strong>
            </button>
        </div>
        <form action="" id="form-join-room">
            {% csrf_token %}
            <div class="container-inputs-modal">
                <input type="text" placeholder="Codigo de la sala" name="room_code_join" id="input-room-code"
                    class="input-form">
            </div>

            <div class="container-buttons">
                <div class="join-room">
                    <button id="cancel-join-modal" class="cancel-room-modal">
                        <p>Cancelar</p>
                    </button>
                </div>
                <div class="join-room">
                    <button id="join-room-modal" type="submit" class="button-room">
                        Unirse
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div id="container" class="container">
        <header>
            <div class="logo">
                <h1 id="h1-logo">
                    Pone <strong id="strong-logo">la pava</strong>
                </h1>
            </div>
        </header>
        <main id="main">
            <section class="description" id="description">
                <h1 id="title-description">¡Bienvenido a Pon&eacute;
                    la pava!
                </h1>
                <form id="form-logout" method="post">
                    {% csrf_token %}
                    <button id="logout-button">
                        <img class="img-disconnect" src="{% static 'img/disconnect.png' %}" alt="Cerrar sesion">
                    </button>
                </form>
            </section>
            <section class="container-rooms" id="container-rooms">
                <div class="rooms" id="rooms">
                    {% for room in rooms %}
                    <div class="room-select" id="room_select_{{ room.code }}">
                        <div class="room-data">
                            <p class="p-room-name"><strong class="strong-room-name">{{ room.name }}</strong></p>
                            <div class="room-code-container">
                                <input readonly value="{{ room.code }}" type="password" class="room-code-displayer" id="room_code-{{ room.code }}">
                                <button class="see-room-code">
                                    <img class="img-see" id="{{ room.code }}" src="{% static 'img/see.png' %}" alt="Ver contraseña">
                                </button>
                            </div>
                        </div>
                        <div class="join-created-room">
                            <form action="" class="form-join-created-room" id="join-{{ room.code }}">
                                {% csrf_token %}
                                <button class="join-created-room-button">
                                    <img class="img-join" src="{% static 'img/join.png' %}" alt="Entrar">
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="container-buttons-room" id="container-buttons-room">
                <div class="container-buttons">
                    <div class="create-room">
                        <button id="create-room-button" class="button-room">
                            <p>Crear sala</p>
                        </button>
                    </div>
                    <div class="join-room">
                        <button id="join-room-button" class="button-room">
                            <p>Unirse a sala</p>
                        </button>
                    </div>
                </div>
            </section>
        </main>
    </div>

</body>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/events.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script>

    function addRoom(message) {
        const rooms = document.getElementById('rooms')
        var html_room = `
            <div class="room-select" id="room_select_${message.room_code}">
                <div class="room-data">
                    <p class="p-room-name"><strong class="strong-room-name">${message.room_name}</strong></p>
                    <div class="room-code-container">
                        <input readonly value="${message.room_code}" type="password" class="room-code-displayer" id="room_code-${message.room_code}">
                        <button class="see-room-code">
                            <img class="img-see" id="${message.room_code}" src="{% static 'img/see.png' %}" alt="Ver contraseña">
                        </button>
                    </div>
                </div>
                <div class="join-created-room">
                    <form action="" class="form-join-created-room" id="join-${message.room_code}">
                        {% csrf_token %}
                        <button class="join-created-room-button">
                            <img class="img-join" src="{% static 'img/join.png' %}" alt="Entrar">
                        </button>
                    </form>
                </div>
            </div>`;
        
        rooms.innerHTML = html_room + rooms.innerHTML;
        setSeeEvents()
        setJoinFormsEvents()
    }


    /* AL CREAR UNA SALA NUEVA Y AGREGARLA A LA LISTA MEDIANTE JS, RECORDAR DE APLICARLE TEXT SHORTENER  y setSeeEvents()*/
    textShortener(element_class='.strong-room-name', x=20)
    setSeeEvents()
    errorHandler()
    setJoinFormsEvents()
</script>

</html>