{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Pone la pava</title>
</head>

<body>
    <div class="div-errores" id="div-errores">
        <div class="exclamacion">
            <p id="p-exclamacion">!</p>
        </div>
        <p id="p-errores"></p>
    </div>
    <div class="modal-create-room" id="modal-create-room">
        <div class="close-modal">
            <button id="close-modal">
                <strong>X</strong>
            </button>
        </div>
        <form action="" id="form-create-room">
            <div class="container-inputs-modal">
                <input type="text" placeholder="¿Como te llam&aacute;s?" name="user_name" id="input-room-name"
                    class="input-form">
                <input type="text" placeholder="Nombre de la sala" name="room_name" id="input-room-name"
                    class="input-form">
                <input type="text" placeholder="Codigo de la sala" name="room_code" id="input-room-code"
                    class="input-form">

                <label id="label-range-form" for="people-amount">Integrantes</label>
                <input name="people_amount" type="range" id="input-people-amount" class="input-form-range" min="2"
                    max="15">
            </div>

            <div class="container-buttons">
                <div class="create-room">
                    <button id="create-room-modal" type="submit" class="button-room">
                        Crear sala
                    </button>
                </div>
                <div class="join-room">
                    <button id="cancel-room-modal" class="cancel-room-modal">
                        <p>Cancelar</p>
                    </button>
                </div>
            </div>

        </form>
    </div>
    <div class="container">
        <header>
            <div class="logo">
                <h1 id="h1-logo">
                    Pone <strong id="strong-logo">la pava</strong>
                </h1>
            </div>
        </header>
        <main>
            <section class="description">
                <h1 id="title-description">¿Que es Pone la pava?</h1>
                <div id="content-description">
                    <strong>
                        ¡Bienvenido a Pon&eacute;
                        la pava!</strong> divertite con tus amigos a través de
                    nuestras salas virtuales. Compart&iacute;
                    mates, organiz&aacute;
                    encuentros con la banda, vot&aacute;
                    en las encuestas, y descubr&iacute;
                    nuestra lista de experiencia
                    auténticas. En <strong>Pone la pava</strong>, el chisme y la
                    chispa argentina nunca se
                    apaga.
                    ¡Conect&aacute;
                    , vot&aacute;
                    , compart&iacute;
                    y disfrut&aacute;
                    de la esencia argentina en un solo lugar!
                </div>
            </section>
            <section class="container-buttons-room">
                <div class="container-buttons">
                    <div class="create-room">
                        <button id="create-room-button" class="button-room">
                            <p>Crear sala</p>
                        </button>
                    </div>
                    <div class="join-room">
                        <button id="join-room-button" class="button-room">
                            <p>Unirse a sala</p>
                        </button>
                    </div>
                </div>
            </section>
            <footer>

            </footer>
        </main>
    </div>
</body>

<script src="{% static 'js/index.js' %}"></script>

</html>